.myplaylist {
  .playlist-top {
    padding-bottom: 10px;
    & > img {
      padding: 3px;
      border: 1px solid #ddd;
      width: 208px;
      height: 208px;
    }

    .playlist-detail {
      padding-left: 30px;
      .icons {
        display: inline-block;
        width: 54px;
        height: 24px;
        background: url(~assets/img/icon.png) no-repeat 0 -243px;
      }
      .playlist-name {
        font-size: 20px;
        padding-left: 12px;
      }

      & > .flex-column {
        padding-bottom: 6px;
      }

      .playlist-person {
        & > img {
          width: 35px;
          height: 35px;
        }

        .text-line {
          padding-left: 12px;
          color: #0c73c2;
        }

        .playlist-time {
          color: #999;
          padding-left: 18px;
        }
      }
    }
  }

  .track-count {
    line-height: 1;
    color: #666;
  }

  .play-count {
    color: #666;
    span {
      color: #c20c0c;
      padding: 0px 4px;
    }
  }

  .songs-container {
    border: 1px solid #ddd;
    .songs-header {
      height: 38px;
      line-height: 38px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #ddd;
      color: #666;
      & > div {
        &:first-child {
          width: 74px;
        }
        &:not(:first-child) {
          border-left: 1px solid #ddd;
          padding: 0px 5px;
        }
        &:nth-child(2) {
          flex: 2;
        }
        &:nth-child(3) {
          flex: 1;
        }
        &:nth-child(4) {
          flex: 1;
        }
      }
    }

    .songs-content {
      & > li {
        color: #333;
        & > div {
          height: 37px;
          line-height: 37px;
          &:first-child {
            width: 74px;
            text-align: center;
          }
          &:not(:first-child) {
            padding: 0px 5px;
          }
          &:nth-child(2) {
            flex: 2;
            .text-line {
              width: 320px;
            }

            .opera-box {
              display: none;
              padding-top: 8px;
              & > i {
                display: inline-block;
                width: 17px;
                height: 17px;
                margin-left: 8px;
                cursor: pointer;
                &:first-child {
                  background: url(~assets/img/sprite_02.png) no-repeat -267px -268px;
                }

                &:nth-child(2) {
                  background: url(~assets/img/sprite_icon2.png) no-repeat 0 -700px;
                  position: relative;
                  top: 2px;
                  left: 1px;
                }
              }
            }

            &:hover {
              .opera-box {
                display: inline-block;
              }
            }
          }
          &:nth-child(3) {
            flex: 1;
          }
          &:nth-child(4) {
            flex: 1;
          }
        }

        &:nth-of-type(odd) {
          background-color: #f7f7f7;
        }
      }
    }
  }
}
