.new-disc-container {
  .area-item {
    color: #666;
    padding: 0px 10px;
    cursor: pointer;
    position: relative;
    &:not(:last-child) {
      &::after {
        position: absolute;
        content: '';
        height: 12px;
        border-right: 1px solid #c2c2c2;
        right: 0;
        top: 3px;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .new-disc-box {
    padding-top: 20px;
    flex-wrap: wrap;
    .new-disc-item {
      width: 153px;
      margin-right: 10px;
      padding-bottom: 30px;
      & > div {
        width: 153px;
        background: url(~assets/img/sprite_cover.png) no-repeat 0 -846px;
      }

      h3 {
        padding-top: 6px;
      }

      p {
        color: #666;
      }

      &:nth-child(5n) {
        margin-right: 0px;
      }
    }
  }
}
