.play-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.play-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 53px;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  .w980 {
    height: 47px;
    margin-top: 6px;
  }
  .play-box {
    .pre {
      background-position: 0 -130px;
      @extend .play-icon;
      &:hover {
        background-position: -30px -130px;
      }
    }
    .play {
      @extend .play-icon;
      width: 36px;
      height: 36px;
      background-position: 0 -204px;
      margin-top: 0;
      &:hover {
        background-position: -40px -204px;
      }
      &.playing {
        background-position: 0 -165px;
        &:hover {
          background-position: -40px -165px;
        }
      }
    }

    .next {
      background-position: -80px -130px;
      @extend .play-icon;
      &:hover {
        background-position: -110px -130px;
      }
    }
  }

  .current-img {
    padding: 0px 12px 0px 16px;
    img {
      width: 35px;
      height: 35px;
      border-radius: 3px;
      background-color: aqua;
    }
  }

  .play-detail {
    width: 500px;
    .play-name {
      padding: 4px 0px 0px;
      .text-line {
        color: #e8e8e8;
        max-width: 285px;
      }
      span {
        padding-left: 15px;
        color: #9b9b9b;
        max-width: 200px;
      }
    }

    .ant-slider {
      width: 493px;
      height: 9px;

      margin-top: -2px;
      z-index: 100;

      .ant-slider-rail,
      .ant-slider-track,
      .ant-slider-step {
        height: 9px;
      }

      .ant-slider-rail {
        background: url(~assets/img/progress_bar.png) 0 0;
        top: 6px;
      }

      .ant-slider-track {
        background: url(~assets/img/progress_bar.png);
        background-position: left -66px;
        margin-top: 3px;
      }

      .ant-slider-handle {
        width: 20px;
        height: 22px;
        border: 0;
        background: url(~assets/img/sprite_icon.png);
        background-position: 0 -250px;
      }
    }
  }

  .play-time {
    padding: 0px 20px 0px 10px;
    margin-top: 20px;
    width: 88px;
    &-detail {
      color: #797979;
      & > span {
        color: #a1a1a1;
      }
    }
  }

  .player-operator {
    .left-box {
      font-size: 18px;
      color: #666;
      width: 44px;
      .download:hover {
        color: #e8e8e8;
      }
      .refresh:hover {
        color: #e8e8e8;
      }
    }

    .right-box {
      padding-left: 12px;
      position: relative;
      .btn {
        margin-left: 4px;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      .volume {
        background-position: -2px -248px;
      }

      .loop {
        background-position: -3px -344px;
      }

      .playlist {
        padding-left: 18px;
        text-align: center;
        color: #ccc;
        width: 59px;
        background-position: -42px -68px;
      }

      /* 进入 */
      .playlist-enter,
      .playlist-appear {
        opacity: 0;
        transform: scale(0.5);
      }
      /* 执行动画 */
      .playlist-enter-active,
      .playlist-appear-active {
        transition: opacity 400ms, transform 400ms;
        opacity: 1;
        transform: scale(1);
      }

      /* 离开 */
      .playlist-exit {
        opacity: 1;
        transform: scale(1);
      }

      .playlist-exit-active {
        opacity: 0;
        transform: scale(0.5);
        transition: opacity 400ms, transform 400ms;
      }

      .playlist-exit-done {
        opacity: 0;
      }

      .top-volume {
        position: absolute;
        top: -124px;
        left: 10px;
        clear: both;
        width: 32px;
        height: 113px;
        overflow: hidden;
        padding: 10px;
        background-position: 0 -503px;
        .ant-slider-vertical {
          margin: 0;
          .ant-slider-rail {
            background-color: transparent;
          }

          .ant-slider-track {
            background: url(~assets/img/playbar_sprite.png) no-repeat -40px bottom;
          }

          .ant-slider-handle {
            border: 0;
            background: url(~assets/img/sprite_icon.png) -42px -250px;
          }
        }
      }
    }
  }
}
